.post {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  align-items: flex-start;
  padding: 20px 70px 20px 70px;
  text-align: left;
}